# Byte-compiled / optimized / DLL files
*.DS_Store
__pycache__/
*.py[cod]
*$py.class

# Images/Outputs
*.png
*.pdf
*.jpeg
*.jpg
*.txt
*.zip
*.pkl
*.json

# Txt exceptions
!requirements.txt

## Data
Data/*
Results/Recommendations/*

*.csv
*.numbers
*.xlsx
*.dot
*.doc
*.sav

# Data exceptions:
!Data/Meta/
!Data/Dicts_and_Lists/
!Data/Dicts_and_Lists/** 
!Data/Meta/*_kat_d2*

# .pkl, .txt, and .csv, .json exceptions
!Results/**/*_24_Jan_2025__17.50*

# too large
Results/Fitted_Models/*.joblib

# C extensions
*.so

venv/*
